html, body {
    height: 100%;
}

#navbar {
    border-bottom: 6px solid #bb0000; 
}

#nav {
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

#buckeye-logo {
    width: 75px;
    vertical-align: middle;
}

#run {
    font-weight: 600;
    font-size: 30px;
}

#flex-container {
    display: flex;
}

.flex-child {
    flex: 1
}
